@import "src/assets/styles/app.colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: $app-background;
  color: white;
  &__item {
    width: 50px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  cursor: pointer;
}

.menu {
  &__item {
    margin: 0 15px;
    cursor: pointer;
  }
}

.profile {
  &__image {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}
