@import "../../../assets/styles/app-colors";

.chat {
  width: 25%;
  height: 500px;
  background: $app-background;
  color: white;
  opacity: 0.8;
  &__messages {
    height: 100%;
    overflow: auto;
  }
  &__input {
    &__message {
      border: 1px solid $app-background;
    }
    &__send {

    }
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
