<div class="sign-up">
  <mat-card class="sign-up__card">
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>Enter your name</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Create password</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Repeat password</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button (click)="test($event)">Sign up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
