@import "../../../../assets/styles/app-colors";

.nav {
  background: $app-background;
  color: #8f8f8f;
  height: 100%;
  &__menu {
    height: 30%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__item {
      cursor: pointer;
      user-select: none;
    }
    &__item.active {
      color: white;
    }
  }
}
