<div class="chat">
  <div *ngIf="chat" class="chat__wrap">
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addUser()">
          <mat-icon>person_add</mat-icon>
          <span>Add user</span>
        </button>
        <button mat-menu-item (click)="removeUser()">
          <mat-icon>person_remove</mat-icon>
          <span>Remove user</span>
        </button>
      </mat-menu>
    </div>
    <div class="chat__wrap__messages" id="chat__wrap__messages">
      <div
        class="chat__wrap__messages__message {{
          userId &&
            userId === message.userId &&
            'chat__wrap__messages__message-owner'
        }}"
        *ngFor="let message of messages; index as i"
      >
        <span
          class="chat__wrap__messages__message__user"
          *ngIf="userId && userId !== message.userId"
          >{{ message.user.name }}</span
        >
        <span
          class="chat__wrap__messages__message__text {{
            userId &&
              userId === message.userId &&
              'chat__wrap__messages__message-owner__text'
          }}"
          >{{ message.text }}</span
        >
      </div>
    </div>
    <div class="chat__wrap__buttons">
      <form class="chat__wrap__buttons__form">
        <input
          class="chat__wrap__buttons__form__input"
          type="text"
          placeholder="Type a message..."
          [formControl]="messageText"
        />
        <input type="submit" (click)="sendMessage($event)" hidden />
      </form>
      <button
        class="chat__wrap__buttons__send"
        mat-icon-button
        (click)="sendMessage($event)"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
