.chats {
  &__list {
    color: white;
    background: #2b2d31;
    height: 100vh;
    width: 25%;
    max-width: 250px;
    min-width: 100px;
    position: relative;
    right: 25%;
    z-index: 1;
    transition: 0.3s;
  }
  &__list-active {
    right: 0;
    transition: 0.3s;
  }
}
